/* TAG SELECTORS */
body {
  background-color: #f3f9fb;
}

hr {
  width: 6%;
  border-style: none;
  border-top-style: dotted;
  border-color: #e6e7e5;
  border-width: 9px;
}

h1 {
  color: #474f85;
  text-shadow: 5px 5px lightblue;
}

h2 {
  color: #474f85
}

h3 {
  color: #474f85
}

/* ID SELECTORS*/

#pp {
  height: 170px;
}

/* CLASS SELECTORS*/

.circular {
  border-radius: 100%;
}
